dist
.wrangler
.output
.vercel
.netlify
.vinxi
output/e2e-browser/
app.config.timestamp_*.js

# Environment
.env
.env*.local
.dev.vars
.dev.vars.*

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
